.image-view-wrapper:border {
    -fx-border-color: red;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

/*
.image-view-wrapper:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}
 */